.modalContainer {
  background-color: rgb(24, 33, 58);

  .headerStyle {
    margin: 10px 0px 0px;
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 50.4px;
    font-family: TuskerGrotesk-6500Medium;
    width: 100%;
    display: block;
    color: #fff;
  }

  .subHeaderStyle {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-family: TuskerGrotesk-6500Medium;
    width: 100%;
    display: block;
    color: #fff;
    margin: 0;
  }

  .bodyText {
    color: #fff;
  }

  .iconContainer {
    display: none;
  }

  .topHeaderContainer {
    p {
      color: #f04f3c;
      text-transform: uppercase;
      margin: 0;
      font-family: TuskerGrotesk-6500Medium;
    }
  }

  .emailWrapper {
    margin-top: 0;
    .emailStyles {
      width: 100%;
      margin: 10px auto;
      height: 3.5em;
      background-color: transparent;
      padding: 0 10px;
      border: 1px solid #f04f3c;
      color: #f04f3c;
      outline: none;
      font-family: TuskerGrotesk-6500Medium;
      &::-webkit-input-placeholder {
        color: #f04f3c;
      }
    }
  }

  .button {
    cursor: pointer;
    margin: 0 0 12px;
    background-color: rgb(240, 79, 60);
    border-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: TuskerGrotesk-6500Medium;
    font-size: 0.75rem;
    -webkit-appearance: none;
  }

  .btnSignUp {
    cursor: pointer;
    margin: 0 0 12px;
    background-color: rgb(240, 79, 60);
    border-color: transparent;
    color: #fff;
    border: 1px solid rgb(240, 79, 60);
    box-shadow: none;
    display: block;
    width: 100%;
    height: 3.5em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: TuskerGrotesk-6500Medium;
    font-size: 0.75rem;
    -webkit-appearance: none;
  }
}

@media only screen and (min-width: 768px) {
  .topHeaderContainer {
    margin: 0 auto;
  }
}
